.recommend-survey-item {
    width: 935px;
    padding: 20px;
    background-color: #FFFFFF;
    border-radius: 50px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
  flex-direction: column;
  align-items: center;
  .header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #151875;
    color: white;
    font-weight: 800;
    border-radius: 20px;
    padding: 5px 50px;
    margin-bottom: 16px;
    font-size: 27px;
  }
  
  .title {
    font-size: 36px;
    font-weight: 800;
    margin: 0;
    color: #333;
    padding-bottom: 16px;
  }
  p{
    font-size: 18px;
    text-align: center;
  }
  .info-list {
    list-style: none;
    padding-top:27px;
    display: flex;
    flex-direction: column;
    gap: 18px;
  div{
    display: flex;
    flex-direction: row;
    gap: 57px;
  .info-item {
    display: flex;
    gap: 20px;
    font-size: 14px;
    color: #666;
    width: 250px;
  }
  
  .info-label {
   border: 1px solid #929292;
   font-size: 15px;
   width:73px ;
   height: 30px;
   border-radius: 20px;
   display: flex;
   align-items: center;
   justify-content: center;
  }
}
}
}


.survey-item {
    display: flex;
    align-items: center;
    padding: 30px 50px;
    background-color: #FFFFFF;
    border: 1px solid #7B7878;
    border-radius: 20px;
    justify-content: space-between;
 .title-wrapper{
  .subject {
    background-color: #151875;
    color: white;
    font-weight: 800;
    border-radius: 20px;
    padding: 5px 10px;
    font-size: 27px;
    width: 200px;
    text-align: center;
    margin-bottom: 12px;
  }
  
  .content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;

  
  .title {
    font-size: 30px;
    font-weight: 800;
    margin: 0;
    color: #343434;
    margin-bottom: 20px;
  }
  
  .survey-date {
    font-size: 25px;
    color: #343434;
  }
}
}
  /* .info {
    display: flex;
    flex-direction: row;
  }
  
  .info-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
    font-size: 14px;
    align-items: center;
    padding: 0 57px;
    border-right: 1px solid #929292;
    justify-content: space-between;
  }
  .info-item:nth-child(3){
    border-right: unset;
  }
  
  .info-label {
    font-weight: 400;
    font-size: 50px;
    text-align: center;
    color:#929292;
  }
  span{
    font-size: 25px;
  }
  .info-label.subject{
    font-size: 30px;
  } */
  .date{
    font-size: 40px;
    font-weight: 800;
    background-color:#D9D9D9 ;
    padding: 50px;
    border-radius: 40px;
  }
}